body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(81, 81, 171);
    max-width: fit-content;
}

#portrait {
    margin: 0 auto;
    max-width: 50%;
    border-radius: 50%;

}

#content {
    margin: 0 auto;
    width: 800px;
}